[2022-06-19 07:54] Vikash-8090-Yadav opened #1 "[DOCS]Improve the readme.md file"
Hey if anyone interested in making the readme.md file correct and good looking
Then feel free to  take this issue

[2022-07-25 12:10] Vikash-8090-Yadav opened #2 "Create Issue temaplate"
Greetings of the day folks !!
If anyone want's to create the issue template then feel free to comment

The issue template should contains ->  **Bug report , Feature request  and  other .**
like shown below

![Screenshot from 2022-07-25 17-32-13](https://user-images.githubusercontent.com/85225156/180774570-b7a320bb-2b7c-4543-8a2d-d1d27d2ee9f0.png)

[2022-07-25 12:43] Vikash-8090-Yadav opened #3 "Create P.R template"
Greetings of the day folks !!
If anyone want's to create the issue template then feel free to comment
The template should look like this  shown below

![Screenshot from 2022-07-25 18-06-45](https://user-images.githubusercontent.com/85225156/180779696-b850affc-8e15-4945-8ed8-f32f7d3d56d2.png)

[2022-07-26 18:17] khushimarothi commented on #1
I can add the contributors section to the readme

[2022-07-27 03:40] surjyaneeh commented on #3
@Vikash-8090-Yadav
May I work on this issue?

[2022-07-27 06:15] Vikash-8090-Yadav commented on #3
Yah sure !

[2022-07-27 06:16] Vikash-8090-Yadav commented on #3
Start working on this issue i will assign u whenever i get free  ,will assign u later ..don't worry 😄

[2022-07-27 06:20] surjyaneeh commented on #3
Okay

[2022-07-27 07:19] surjyaneeh commented on #2
@Vikash-8090-Yadav Can You assign it to me?
And I have doubt about where should I include that issue_template.md file.

[2022-07-27 11:25] Vikash-8090-Yadav commented on #1
ya u can but along with this please add  the  hack club rait logo  as well the lables  .
<br>

![Screenshot from 2022-07-26 23-13-06](https://user-images.githubusercontent.com/85225156/181076922-9abf665b-4a70-4811-ba67-20b4dbe2cf7d.png)

**The logo of the HACK CLUB RAIT IS ATTACHED BELOW**

![1632670084686-1](https://user-images.githubusercontent.com/85225156/181077201-07455734-42d9-43a1-b7bd-c5b8

[2022-07-27 12:48] #3 closed

[2022-07-27 12:58] Vikash-8090-Yadav commented on #3
here , create these check list ->

[] Project using only Solidity
[] [] Project using only Javascript
[] Project using only Python
[] Project Test on the Remix IDE
[] Mention below if project uses other language and ide .

@surjyaneeh  please update these chnages to the P.R template then i will add the label's
all set to go smile

[2022-07-27 13:12] surjyaneeh commented on #3
These will be in place of Domain of Contribution, right?

[2022-07-27 13:18] Vikash-8090-Yadav commented on #3
YES

[2022-07-27 14:16] Vikash-8090-Yadav commented on #2
Yeah sure !

create .github/ISSUE_TEMPLATE/add-project.md , custom.md , imporevements.md

and this folder should be in the root directory only .

[2022-07-28 17:50] AnmolSirola opened #11 "Grammatical errors + Updating Readme Files"
There is an grammatical error in [SendTo_Eather.sol](https://github.com/Vikash-8090-Yadav/Solidity-Pathshala/blob/main/Level1/sendTo_Eather/SendTo_Eather.sol) file inside of [Level1/sendTo_Eather](https://github.com/Vikash-8090-Yadav/Solidity-Pathshala/tree/main/Level1/sendTo_Eather) folder. There is an error in file name and in folder name too. Can you please assign this issue to me!!

[2022-07-28 17:54] Vikash-8090-Yadav commented on #11
It's better if u provide the screen shot  also .. for better understanding
Thnak u

[2022-07-28 18:05] AnmolSirola commented on #11
![Code](https://user-images.githubusercontent.com/95535448/181606774-9259a2bd-9ad7-4fcd-b625-836c85b7d316.png)
![FileName](https://user-images.githubusercontent.com/95535448/181606784-c2af503e-eccb-40f5-b7be-1f47ea7d0ed3.png)

[2022-07-28 18:05] AnmolSirola commented on #11
Eather should be replaced with ether in both cases

[2022-07-28 18:07] AnmolSirola commented on #11
![Code](https://user-images.githubusercontent.com/95535448/181607058-084243af-0d8c-4d1f-b9ea-e4ad50d73d96.png)
![FileName](https://user-images.githubusercontent.com/95535448/181607065-f51b461d-e3f9-4c74-aad0-634cb49bff1c.png)
Eather should be replaced with ether in both the cases

[2022-07-28 18:20] Vikash-8090-Yadav commented on #11
okh look's great but i suggest you to check all the file's and folder and correct them . accordingly
 Along  with that create and  update the readme file for Level0 , Level1 , Level2 folder

is this fine ?

[2022-07-28 18:30] AnmolSirola commented on #11
Yes Sir

[2022-07-28 19:09] #2 closed

[2022-07-30 12:16] #1 closed

[2022-07-31 10:54] surjyaneeh opened #12 "Add Readme in Hello_World Folder"
### Description of  the change
Add a Readme file in Hello_World Folder
![image](https://user-images.githubusercontent.com/75573569/182022850-5d26f0b0-8c29-4e20-9590-3bec6fe5e2fb.png)

### Domain

- [x] Readme

#### Are you contributing under any open-source program?

HSOC'22

[2022-07-31 11:25] Vikash-8090-Yadav commented on #12
Great idea !
Start working on it ..

[2022-07-31 12:39] Harsh3363 opened #13 "Code to implement ERC-721 smart contracts"
### Project title
Code to implement ERC-721 smart contracts

### Project Description
solidity code for implementation of the ERC-721 token

### Domain

- [x] Solidity
- [] Python
- [] JavaScript
- [] Golang
- [] Other, feel free to mention below

#### Are you contributing under any open-source program ?
SSOC'22
<hr/>

[2022-07-31 12:43] Vikash-8090-Yadav commented on #13
@Harsh3363  please mention your open source programe name under "Are you contributing under any open-source program ?"

[2022-07-31 12:45] Harsh3363 commented on #13
contributing under SSOC'22

[2022-07-31 12:47] Vikash-8090-Yadav commented on #13
OK great .
starting working on this  issue .
and Raise P.R after 1 aug .

[2022-07-31 12:59] Harsh3363 commented on #13
Sure

[2022-07-31 16:56] Vikash-8090-Yadav commented on #13
Push this in Level 2

[2022-07-31 17:22] Harsh3363 commented on #13
Sure 👍

[2022-08-01 06:39] AyushPathak3011 opened #14 "Smart Contract for Dynamic NFTs"
### Project title
Dynamic NFT smart contract

### Project Description
A smart contract that helps in minting dynamic NFTs which evolve after an interval of time.

### Domain

- [x] Solidity
- [] Python
- [] JavaScript
- [] Golang
- [] Other, feel free to mention below

#### Are you contributing under any open-source program ?
SSOC '22
<hr/>

[2022-08-01 14:14] Vikash-8090-Yadav commented on #13
@Harsh3363 i am closing this issue as of now  ..  Make a fresh issue after the filling google  form as said in the stage call of ssoc'22

[2022-08-01 14:14] #13 closed

[2022-08-01 14:15] Harsh3363 commented on #13
Sure

[2022-08-01 14:16] Vikash-8090-Yadav commented on #14
@AyushPathak3011  i am closing this issue as of now .. Make a fresh issue after the filling google form as said in the stage call of ssoc'22

[2022-08-01 14:16] #14 closed

[2022-08-01 14:34] legendarykamal opened #16 "Unresponsive Readme"
### Description of  the change
Readme on the main page is Unresponsive for mobile version

![Screenshot_2022-08-01_200151](https://user-images.githubusercontent.com/95926324/182173780-42a42304-2703-4419-aa79-d175a5f40dce.jpg)

### Domain

- [x] Readme
- [] Solidity
- [] Python
- [] JavaScript
- [] Golang
- [] Other , feel free to mention below

#### Are you contributing under any open-source progr

[2022-08-01 14:39] #12 closed

[2022-08-01 15:46] Vikash-8090-Yadav commented on #16
great issue  ! But i a/c to rules  u have to raise a issue only after filling  the form and sucessfully added in my project group in the discord . I will tell u there . Just wait for some time . As of  now i am closing  this issue .
 Thank u

[2022-08-01 15:46] surjyaneeh opened #17 "Add Readme in Greeting Folder"
### Description of  the change
add readme in the greeting folder

### Domain

- [x] Readme

#### Are you contributing under any open-source program?
HSOC'22
<hr/>

[2022-08-01 15:48] Vikash-8090-Yadav commented on #17
Great
Start working on it !

[2022-08-03 16:42] #17 closed

[2022-08-03 16:51] #11 closed

[2022-08-03 17:25] AnmolSirola opened #20 "Adding readme for Level 1 folder and Correcting all the grammatical errors."
### Description of  the change
Adding readme for Level 1 folder and Correcting all the grammatical errors.

### Domain
- [x] Readme
- [x] Documentation

#### Are you contributing under any open-source program ?

SSOC'22
<hr/>

[2022-08-03 17:28] AnmolSirola opened #21 "Add readme.md files for all the folders inside level 2 i.e Marketplace and Voting."
### Description of  the change
Add readme.md files for all the folders inside(Marketplace) level 2.

### Domain

- [x] Readme

#### Are you contributing under any open-source program ?

SSOC'22

<hr/>

[2022-08-03 18:14] Vikash-8090-Yadav commented on #21
Great issue start working on it !

[2022-08-03 18:16] Vikash-8090-Yadav commented on #20
can u please tell in which folder u want to add readme  ,   with the file name ?

[2022-08-03 18:22] AnmolSirola commented on #20
FolderName Level 1\senTo_eather

[2022-08-03 18:24] Vikash-8090-Yadav commented on #20
Great @AnmolSirola  start working on it

[2022-08-04 09:22] AyushPathak3011 opened #24 "Smart Contract for dynamic NFTs"
### Project title
Dynamic NFT smart contract

### Project Description
A smart contract that helps in minting dynamic NFTs which evolve after an interval of time.

### Domain

- [x] Solidity
- [] Python
- [] JavaScript
- [] Golang
- [] Other, feel free to mention below

#### Are you contributing under any open-source program ?
SSOC '22
<hr/>

[2022-08-04 13:20] Vikash-8090-Yadav commented on #24
Great idea . Start working on it ! @AyushPathak3011

[2022-08-04 13:47] AnshuMishra01 opened #25 "changement- Grammer errors"
### Description of  the change

Grammer/Typos Errors in the files which are named below.

###Files

1. Level0/Greeting/README.md
2. Level2/Marketplace/Marketplace.sol
3. Level2/banking/banking.sol

#### Are you contributing under any open-source program?

SSOC

[2022-08-04 13:50] Vikash-8090-Yadav commented on #25
@AnshuMishra01  Thank's for your Issue i think some one is already working on it . U can check #22

[2022-08-05 05:43] TripathiShyaamal opened #27 "Adding comment in the Hello world solidity file"
### Description of  the change
Some things like view and memory keywords need to be clear for a person looking at the code for the first time.

### Domain
- [x] Solidity

#### Are you contributing under any open-source program ?

SSOC

[2022-08-05 08:16] AyushPathak3011 opened #28 "Buy Me A Coffee Smart Contract"
### Project title
Buy Me A Coffee Smart Contract

### Project Description
With the help of this smart contract, users will be able to tip the owner of the smart contract with Ethereum. The owner can then withdraw the tips from the smart contract.

### Domain

- [x] Solidity
#### Are you contributing under any open-source program?
SSOC '22
<hr/>

[2022-08-05 08:53] Vikash-8090-Yadav commented on #28
ok start working on  this issue! I will assign u later ...!

[2022-08-05 11:39] Vikash-8090-Yadav commented on #27
@TripathiShyaamal thank for creating this issue ..
if u  want to add the comment then add to all the code file avialbale in the directory?
is that ok ?

[2022-08-05 14:31] kunal232i opened #29 "CrowdFunding smartcontract"
### Project title
CrowdFunding smartcontract

### Project Description
New Campaign -> Users will be able to start a new crowdfunding project by entering campaign details such as the title, story, and goal amount to be raised.
View Project ->users can view all of the existing projects and campaign details.
Make Donation -> 	Anyone can donate to a project they want to support.

### Domain

- [x] Sol

[2022-08-05 17:05] #28 closed

[2022-08-05 17:07] Vikash-8090-Yadav commented on #29
@kunal232i  great idea ! start working on it

[2022-08-05 18:53] snehasharma76 commented on #27
I would like to contribute to this issue. Kindly assign me this issue.

[2022-08-05 22:01] Vikash-8090-Yadav commented on #27
@TripathiShyaamal are u working on this issue ?

[2022-08-06 00:10] kunal232i commented on #29
Sure 😄

[2022-08-06 00:40] TripathiShyaamal commented on #27
Yes I am already working on the issue.

[2022-08-06 04:53] AnmolSirola opened #32 "Creating our own crypto coin (which allows only creator to create new coins)."
### Project title
Crypto Coin

### Project Description
The contract allows only its creator to mint new coins.
Anyone can send coins to each other without the need of registering (with a username and password) all u need is a ethereum keypair.

### Domain

- [x] Solidity

#### Are you contributing under any open-source program ?
SSOC'22

<hr/>

[2022-08-06 06:15] Vikash-8090-Yadav commented on #32
Great idea !  start working on it .
Can u please tell the folder structure in which u waana to  push this .

[2022-08-06 08:14] AnmolSirola commented on #32
I'll add it in level 2 (create  a new folder of crypto coin).

[2022-08-06 11:32] Vikash-8090-Yadav commented on #32
ok fine
Happy learning :smile:

[2022-08-06 11:56] vryan-06 opened #34 "Adding more codes to Level0 folder"
There are only 2 codes so far in the Level0 folder.
I wish to add few more codes to that folder.

[2022-08-06 13:02] Vikash-8090-Yadav commented on #34
great ! start working on it ... @vryan-06

[2022-08-06 17:29] Sanitya7 opened #35 "Sum of two integers"
### Project Title
Arithmetic Operators - Programs

### Project Description
A simple but handy program for beginners( Level 0 ), showing addition of two integers
This program gives
- Addition of Two Numbers
- Subtraction of Two Numbers
- Multiplication of Two Numbers
- Division of Two Numbers

🔹   Addition of Two Numbers :
[code]
🔹   Subtraction of Two Numbers
[code]
🔹  Multiplication of Two Number

[2022-08-06 17:39] Vikash-8090-Yadav commented on #35
@Sanitya7  great issue ! but along this i would highly recommend u to make sub  , div , multiplication along this .
is this ok?

[2022-08-06 17:54] #27 closed

[2022-08-06 18:33] Sanitya7 commented on #35
Sure, I will be adding the basics soon !
Thanks @Vikash-8090-Yadav 👍

[2022-08-06 18:37] TripathiShyaamal opened #36 "Understanding structs, their implementation and memory and storage keywords' implementation"
### Project title
Storage_memory

### Project Description
Adding file for understanding structs, their implementation and memory and storage keywords' implementation

### Domain
- [x] Solidity

#### Are you contributing under any open-source program ?

SSOC

<img width="619" alt="File" src="https://user-images.githubusercontent.com/76724036/183261807-e6c2bec2-b9ee-4c8f-987d-916fd187ad76.png">

[2022-08-06 18:41] Vikash-8090-Yadav commented on #36
please tell the folder structure in which u want to add @TripathiShyaamal

[2022-08-07 02:06] #25 closed

[2022-08-07 09:49] Sanitya7 commented on #35
Hi @Vikash-8090-Yadav , I have added the add, sub, mul & division in the issue.
Check it out!
In two program I have used local and in two of them I have used state variables, do let me know if you want it to change it.

[2022-08-07 09:52] Vikash-8090-Yadav commented on #35
NO issue, all look's great .. Raise a P.R for this .. Thank u

[2022-08-07 10:24] Sanitya7 commented on #35
👍

[2022-08-07 16:34] TripathiShyaamal commented on #36
Folder name: Storage_Memory and inside File.sol and readme file

[2022-08-07 16:51] Vikash-8090-Yadav commented on #36
ok start working on this @TripathiShyaamal

[2022-08-10 11:05] Sanitya7 opened #39 "If-Else Based basic Programs"
### Project title
If-Else Programs

### Project Description
This file consists of basic program constructed by using conditional statements
- Check Odd-Even
[code]
- Max of Two Integers
[code]
- Min of Two Integers
[code]
- Which Quadrant it is ?
[code]
- Min 10
[code]

- Age Valid for voting or not ?
[code]

- Grade For Students
[code]

- Bonus For Employee Based on Years they have served in the

[2022-08-10 11:07] Sanitya7 commented on #39
@Vikash-8090-Yadav This is for Level 0 , A folder for All the If-Else Program based on Solidity for the learners.
Let me know other program which we can build for If-Else in basic domain.

I will be also adding swapping and leap year program soon 👍

[2022-08-11 12:22] legendarykamal opened #41 "Defi App"
### Project title
A decentralised Finance Buy me a coffee dApp

### Project Description
(Describe the project over here)
Buy me a coffee is found on various websites but you need a credit card for doing it. The idea is to take it on the blockchain and ease the effort
### Domain

- [x] Solidity
- [x] JavaScript

#### Are you contributing under any open-source program ?
SSOC22
<hr/>

[2022-08-11 12:23] legendarykamal commented on #41
// @Vikash-8090-Yadav Pls get me assigned :)

[2022-08-11 12:42] legendarykamal commented on #41
ok so I just found that there is a smart contract already https://github.com/Vikash-8090-Yadav/Solidity-Pathshala/pull/30 merged
So should i work on frontend and then integrating it with the contract ?

[2022-08-11 12:45] legendarykamal commented on #16
@Vikash-8090-Yadav can you reopen this , as now I have registered !

[2022-08-11 12:59] Vikash-8090-Yadav commented on #16
@legendarykamal  sure ! do u wana to work  on this issue ?

[2022-08-11 13:00] legendarykamal opened #42 "Adding a new feature"
### Description of  the change

Currently https://github.com/Vikash-8090-Yadav/Solidity-Pathshala/tree/main/Level1/Coin allows only owner to mint coin.

We can add a feature for
1> anybody to mint
2> putting restrictions on the number of coins to be minted.

### Domain

- [x] Readme
- [x] Solidity
- [] Python
- [] JavaScript
- [] Golang
- [] Other , feel free to mention below

#### Are you contrib

[2022-08-11 13:00] Vikash-8090-Yadav commented on #41
Open new issue in the web3.0-world repo ..

[2022-08-11 13:01] Vikash-8090-Yadav commented on #41
@legendarykamal  close this issue

[2022-08-11 13:02] Vikash-8090-Yadav commented on #42
ya sure u can modify this ..
Great idea @legendarykamal

[2022-08-11 13:02] legendarykamal commented on #41
OK

[2022-08-11 13:07] #41 closed

[2022-08-11 14:29] legendarykamal commented on #16
yes I want to work on this .

On Thu, Aug 11, 2022 at 6:29 PM Vikash Yadav ***@***.***>
wrote:

[2022-08-11 15:36] legendarykamal commented on #42
yeah thank you
I have completed this task // @Vikash-8090-Yadav

[2022-08-11 15:42] legendarykamal opened #44 "Fix typos in README.md"
### Description of  the change
Describe more about the change.
There are various typos in https://github.com/Vikash-8090-Yadav/Solidity-Pathshala/blob/main/Level1/Coin/Readme.md
which give worst reading experience, these need to be fixed !
### Domain

- [x] Readme

#### Are you contributing under any open-source program ?
SSOC22
<hr/>

[2022-08-12 19:15] legendarykamal commented on #34
@Vikash-8090-Yadav get me assigned for this one, I would like to add some contrib in this area :+1:

[2022-08-14 05:26] Vikash-8090-Yadav commented on #34
Please what type of contribution u wana to do ? And which u wana to add

[2022-08-14 08:26] legendarykamal commented on #34
@Vikash-8090-Yadav
1> a contract explaining function modifiers like view vs pure when to use what.
2> Reversing an array
3> checking palindrome for strings (currently we have just for numbers)
...

[2022-08-14 08:46] Vikash-8090-Yadav commented on #34
@legendarykamal   great idea ... Create a new issue regarding this ..
Thank u

[2022-08-14 08:46] #34 closed

[2022-08-14 08:47] Vikash-8090-Yadav commented on #44
@legendarykamal can u please mention or share the ss of the particular typo .

[2022-08-14 08:51] Vikash-8090-Yadav commented on #39
Add @Sanitya7  min 10  code as i am assigning u this as Intermediate level . Thank u

[2022-08-14 09:30] legendarykamal opened #45 "Adding more codes to Level0 folder"
### Project title
(Write project title over here)
A new list of contracts based upon explaining pure vs view + other smart contracts.

### Project Description

1> a contract explaining function modifiers like view vs pure when to use what.
2> Reversing an array
3> checking palindrome for strings (currently we have just for numbers)

### Domain

- [x] Solidity
- [] Python
- [] JavaScript
- [] Golan

[2022-08-14 09:30] legendarykamal commented on #45
@Vikash-8090-Yadav

[2022-08-14 13:37] #42 closed

[2022-08-14 13:38] #44 closed

[2022-08-15 16:26] Sanitya7 commented on #39
Hi, I have updated, check it out
Thanks 😄

[2022-08-15 19:06] Vikash-8090-Yadav commented on #39
min 10 code means u have to add  atleast 10 code file to get intermediate label . Hope u  understand
:smile:

[2022-08-15 20:44] TripathiShyaamal opened #46 "Notes on Solidity from Loom Network"
I will create a seperate file named Solidity_Notes and add the solidity notes there itself.

[2022-08-16 04:24] Vikash-8090-Yadav commented on #46
what is Loom Netwrok @TripathiShyaamal

[2022-08-16 06:20] TripathiShyaamal commented on #46
It is a website for courses and I pursued the course of making CryptoZombies game from there.

https://cryptozombies.io/en/course/

[2022-08-16 07:51] Sanitya7 commented on #39
😂Alright, I got it wrong.

On Tue, Aug 16, 2022, 12:36 AM Vikash Yadav ***@***.***>
wrote:

[2022-08-16 12:25] legendarykamal commented on #46
how will this be helpful @TripathiShyaamal ?

[2022-08-16 12:30] legendarykamal opened #47 "Creating a Wallet with various useful functions"
### Project title
Creating a wallet

### Project Description
With the help of which a user can
1> deposit ether to his wallet ,
2> send ether to another account and
3> check his own ether account balance.

This also comes with various restrictions imposed like only the owner can transfer ether to the reciever which is much needed in this case.
### Domain

- [x] Solidity

#### Are you contributing

[2022-08-16 13:19] TripathiShyaamal commented on #46
It has the complete notes required for someone who wants to learn Solidity.

[2022-08-16 17:13] Vikash-8090-Yadav commented on #46
have u makes notes from yourshlef or just copied from that site ?

[2022-08-17 00:23] TripathiShyaamal commented on #46
Ofc I make them myself and I have pasted the ss of some codes so that if in future I need to go through these then there won't be any problem.

Moreover these notes were made by me during a competition where we had to complete the course and show them our learnings in which I also won 25 USDT, so there is no point that I have copied or something.

[2022-08-17 13:11] Vikash-8090-Yadav commented on #46
congratulations ! U can now work on this ...
Issue @TripathiShyaamal

[2022-08-17 16:49] ASHISHKUMAR2411 commented on #47
Hey,  I would like to work on this issue.

[2022-08-17 17:03] ASHISHKUMAR2411 opened #48 "Some great Solidity tools and integrated environment to learn"
### Project title
Some Solidity Tools to get started with

### Project Description
To create a readme file for some great solidity tools and integration with examples which makes writing solidity easy and robust.
### Domain

- [] Solidity
- [] Python
- [] JavaScript
- [] Golang
- [] Other, feel free to mention below

#### Are you contributing under any open-source program?
SSOC
<hr/>

[2022-08-17 17:07] ASHISHKUMAR2411 opened #49 "Data Types in Solidity"
### Project title
Data types in Solidity

### Project Description
An Ultimate guide on data types of Solidity, A great place to get started with solidity and its data types.

### Domain

- [] Solidity
- [] Python
- [] JavaScript
- [] Golang
- [] Other, feel free to mention below

#### Are you contributing under any open-source program ?
SSOC
<hr/>

[2022-08-17 17:07] ASHISHKUMAR2411 commented on #49
I would like to work on this issue.

[2022-08-17 17:17] ASHISHKUMAR2411 opened #50 "Structure of a Smart Contract"
### Project title
Structure of a Smart Contract

### Project Description
Each contract can contain declarations of State Variables, Functions, Function Modifiers, Events, Errors, Struct Types, and Enum Types. Showing examples of each of the declarations.

### Domain

- [] Solidity
- [] Python
- [] JavaScript
- [] Golang
- [] Other, feel free to mention below

#### Are you contributing under any op

[2022-08-17 18:00] ASHISHKUMAR2411 opened #51 "Creating NFTs"
### Project title
About NFT and its Creation

### Project Description

### Domain

- [] Solidity
- [] Python
- [] JavaScript
- [] Golang
- [] Other, feel free to mention below

#### Are you contributing under any open-source program ?
SSOC
<hr/>

[2022-08-17 19:11] Vikash-8090-Yadav commented on #51
can u please be more elaborate what u  wana to do ? @ASHISHKUMAR2411

[2022-08-17 19:14] Vikash-8090-Yadav commented on #50
OK just tell  me one thing  you  will be making a separate file for each code or  all these in one file function by function ?
@ASHISHKUMAR2411

[2022-08-17 19:14] Vikash-8090-Yadav commented on #49
@ASHISHKUMAR2411   this issue can be done in the previous issue that is #50

[2022-08-17 19:15] Vikash-8090-Yadav commented on #48
please elaborate more @ASHISHKUMAR2411

[2022-08-17 19:26] ASHISHKUMAR2411 commented on #51
I would like to talk about NFT first, what are they, how they work in the readme file, solidity code on how to create nft and mint them, and if possible i will write solidity code on how to transfer the NFT.

[2022-08-17 19:27] ASHISHKUMAR2411 commented on #50
I wanted to describe them in one file function by function, and a README file for an explanation, and purpose.

[2022-08-18 06:18] Sanitya7 commented on #39
Hi @Vikash-8090-Yadav , I have added some codes in this file 👍

[2022-08-18 11:03] Vikash-8090-Yadav commented on #48
@TripathiShyaamal are u including all this in your study material that mentioned above

[2022-08-18 11:03] Vikash-8090-Yadav commented on #49
@TripathiShyaamal are u including all this in your study material that mentioned above

[2022-08-18 20:24] Vikash-8090-Yadav commented on #39
@Sanitya7 ya its corrrect raise a p.r for this and made the Readme also .

[2022-08-19 07:09] TripathiShyaamal commented on #49
Ya I'll be including these.

[2022-08-19 07:10] TripathiShyaamal commented on #48
Not these exactly but somethings about ABI.

[2022-08-19 08:16] Sanitya7 commented on #39
👍

[2022-08-19 09:28] Vikash-8090-Yadav commented on #47
@legendarykamal are u still working on this ?

[2022-08-19 09:30] Vikash-8090-Yadav commented on #49
@ASHISHKUMAR2411 sorry but this issue will be cover in #46

[2022-08-19 09:31] Vikash-8090-Yadav commented on #48
@ASHISHKUMAR2411  u can work on this issue ...now

[2022-08-19 09:32] Vikash-8090-Yadav commented on #50
@TripathiShyaamal Are u including this also in your notes ?

[2022-08-19 09:33] Vikash-8090-Yadav commented on #51
@ASHISHKUMAR2411  yes u can work on this .. Make sure to check that whether this file  exsit  in directory or not

[2022-08-19 09:37] TripathiShyaamal commented on #50
I have pasted some parts of code at various instances so yeah it basically covers these.

[2022-08-19 10:25] Vikash-8090-Yadav commented on #50
@ASHISHKUMAR2411  sorry u can't work  on this issue as this is already  under process #46 :smile:

[2022-08-19 10:25] #50 closed

[2022-08-19 10:25] #49 closed

[2022-08-19 13:49] ASHISHKUMAR2411 commented on #48
Thank you so much for assigning it to me, I would like to ask in which folder like level0, level1, or level2, I should add this project.

[2022-08-19 13:50] ASHISHKUMAR2411 commented on #51
I have checked, and this file does not exist in the directory, I would like to ask in which folder like level0, level1, or level2, I should add this project.

[2022-08-19 14:20] Vikash-8090-Yadav commented on #48
Creat a folder Study_Material and then push this into that

[2022-08-19 14:22] Vikash-8090-Yadav commented on #51
in level 1

[2022-08-21 08:08] ishani02 commented on #32
@Vikash-8090-Yadav  Is the issue still open?

[2022-08-22 05:48] Kali-Decoder commented on #47
I love to do this task .. Sir

[2022-08-24 07:43] legendarykamal commented on #47
hey everyone thanks for showing interest but this I guess already has been implemented.

[2022-08-24 07:44] legendarykamal commented on #47
@Vikash-8090-Yadav I am modifying this to an advanced version of creating a wallet, So please assign me this task.
I have updated the description :+1:

[2022-08-24 07:57] legendarykamal opened #53 "Modifying sendTo_Ether contract"
### Description of  the change

Modifying and bringing new changes to https://github.com/Vikash-8090-Yadav/Solidity-Pathshala/tree/main/Level1/sendTo_Ether

This currently has these problems ->
1. No step by step guide for new users to use the smart contract.
2. Balance returns in default Wei which is 12 digit and quite confusion to new users.
3. Does not cover the end cases i.e. what if the contr

[2022-08-24 07:58] legendarykamal commented on #53
hi @Vikash-8090-Yadav  can you assign this intermediate and assign it to me?
This will involve both changes in the Readme and contract.

[2022-08-24 13:30] Vikash-8090-Yadav commented on #53
Nope for l i can't cux ur justing editing the readme and  improving the existing one ... Hope u understand for  the intermediate u can make blog smart contract , nft , marketplace , dao ect

[2022-08-24 17:33] legendarykamal opened #56 "Removing repetitive work"
### Description of  the change
Describe more about the change.

We are taking the same ss of compiling and deploying process which is becoming a friction as it is the same process in any contract ,
So we can make a simple file to tell everyone of how to run the contract on Remix.
### Domain

- [x] Readme
- [] Solidity
- [] Python
- [] JavaScript
- [] Golang
- [x] Other , feel free to mention below

[2022-08-24 17:34] legendarykamal commented on #56
@Vikash-8090-Yadav let me know of your thoughts on this

[2022-08-24 17:48] #53 closed

[2022-08-24 18:18] Vikash-8090-Yadav commented on #56
Graet issue @legendarykamal  start working on this

[2022-08-24 18:24] Vikash-8090-Yadav opened #57 "Basics of the Blockchain"
### Write a blog on Basics of the Blockchain .
**This file should be under :-> Blog/Basic of blockchain/Readme.md**
**Made image folder if  u r using any image under the blog section.**
f anyone want's  take this issue feel free to comment . Below are the points need to keep in mind while writing blog

1. Introduction
2. Pre requesite
3. Main content
4. Flow diagram
5. Conclusion
6. Refrence

[2022-08-24 18:30] Vikash-8090-Yadav opened #58 "Add SSOC logo"
Add SSOC  logo in the readme after HSOC logo

Adjust the height and width accordingly .
The logo  is attached below

![IMG-20220820-WA0008](https://user-images.githubusercontent.com/85225156/186495598-76cc80d3-0657-475e-9e5c-06c69e3dc9b8.jpg)

[2022-08-24 18:37] legendarykamal commented on #47
// @Vikash-8090-Yadav Please assign me and review the PR thanks

[2022-08-24 18:40] legendarykamal commented on #57
HI , I would like to work on this @Vikash-8090-Yadav

[2022-08-24 18:44] Vikash-8090-Yadav commented on #57
ya sure @legendarykamal

[2022-08-24 18:49] Vikash-8090-Yadav commented on #58
sure @legendarykamal

[2022-08-24 19:00] Vikash-8090-Yadav opened #59 "Add Gitpod and improve the readme"
Do all the changes according to this P.R  in solidity-Pathshala  repo

https://github.com/Vikash-8090-Yadav/Web3.0-World/pull/42

[2022-08-25 09:00] legendarykamal commented on #47
@Vikash-8090-Yadav this would be added in the level2 folder can we atleast have intermediate label for this ?

[2022-08-25 09:03] legendarykamal commented on #51
@ASHISHKUMAR2411 on which network are you looking to deploy your NFT's?

[2022-08-25 09:03] legendarykamal commented on #51
@ASHISHKUMAR2411 on which network are you looking to deploy your NFT's?

[2022-08-25 18:11] Vikash-8090-Yadav commented on #47
@legendarykamal  nope as u done only the basics things . Better try next time

[2022-08-28 12:13] #58 closed

[2022-08-31 16:26] AnmolSirola opened #62 "Creating a ERC-721 Contract"
### Project title
ERC-721 Contract

### Project Description
Making a ERC-721 smart contract which fulfills all the requirement of erc-721 standard.

### Domain

- [x] Solidity

#### Are you contributing under any open-source program ?
SSOC

<hr/>

[2022-08-31 18:32] Vikash-8090-Yadav commented on #62
HIi @AnmolSirola  can u please explain more about this !

[2022-08-31 18:39] Vikash-8090-Yadav commented on #62
check #51  once. and let me know if urs is diffrent

[2022-08-31 18:46] AnmolSirola commented on #62
The issue #51 gives theory knowledge about NFT's and  gives solidity code on how to transfer the NFT. Mine is different , I will write the whole Solidity contract and add the functions of a real erc721 contract to it.

[2022-08-31 18:55] AnmolSirola opened #63 "A smart contract about Inheritance"
### Project title
Inheritance

### Project Description
I want to write a smart contract which tells the use of inheritance and also explaining inheritance in general.

### Domain

- [x] Solidity

#### Are you contributing under any open-source program ?
SSOC
<hr/>

[2022-08-31 18:57] Vikash-8090-Yadav commented on #62
ok @AnmolSirola  start working on this !

[2022-09-02 12:32] Vikash-8090-Yadav commented on #57
Any updates ??

[2022-09-02 18:38] legendarykamal commented on #57
@Vikash-8090-Yadav In progress

[2022-09-03 03:27] #46 closed

[2022-09-03 03:37] Vikash-8090-Yadav opened #67 "How to connect metamask in the remix"

[2022-09-04 04:32] Vikash-8090-Yadav opened #68 "How to use Remix ide"
In this you have to tell how anyone beginner can use the remix  Ide in this you have to cover these topics as follow :

1.  Introduction
2. why to use remix (with diagram )
3. How  to deploy , compile , where is abi , byte code
4. How to give the input
5. Where to see the oputput
6. Refrence if any

[2022-09-04 04:35] Vikash-8090-Yadav opened #69 "How to connect Reix ide with ganche and Metamask"
Topics to be covered
1. Introduction ( in this include the link of  "How to use remix ide")
2. What is ganache , metamask , why to use  them
3. How to connect remix to ganache.
4. How to connect metamask to the Remix ( also tell about how can you get the Free assets like rinkeby , ropste, etc in metmask )
5. Video needed

[2022-09-04 04:37] #67 closed

[2022-09-04 05:55] AnmolSirola commented on #68
@Vikash-8090-Yadav I would like to work on this issue

[2022-09-04 05:57] Vikash-8090-Yadav commented on #68
Sure @AnmolSirola

[2022-09-04 06:03] AnmolSirola commented on #69
@Vikash-8090-Yadav I would like to work on this issue .

[2022-09-04 06:08] Vikash-8090-Yadav commented on #69
Sure @AnmolSirola

[2022-09-04 18:30] AnmolSirola commented on #68
@Vikash-8090-Yadav I have prepared the required file . But in which folder should I add this ?

[2022-09-04 18:35] Vikash-8090-Yadav commented on #68
I Blog section  make a folder name like How to use Remix idea
Folder structure

Blog/How to use remix/How to use remix.md

[2022-09-04 18:36] #63 closed

[2022-09-05 10:43] AnmolSirola commented on #69
@Vikash-8090-Yadav I have prepared the required file . But in which folder should I add this ?

[2022-09-05 10:46] Vikash-8090-Yadav commented on #69
Ya same as previous one ..like
Blog/How to connect metamask and ganache in Remix ide / Connect.md

[2022-09-05 19:15] AnmolSirola opened #73 "A smart contract about Abstract Contracts"
### Project title
Abstract Contracts

### Project Description
I want to write a smart contract which tells about abstract contracts and also explaining it in general.

### Domain

- [x] Solidity

#### Are you contributing under any open-source program ?
SSOC
<hr/>

[2022-09-06 03:29] Vikash-8090-Yadav commented on #73
can u please tell about the folder structure ?

[2022-09-06 04:24] AnmolSirola commented on #73
@Vikash-8090-Yadav Study Material/Advance Solidity

[2022-09-06 08:32] Vikash-8090-Yadav commented on #73
Ok start doing this ..I will assign by eod .

[2022-09-06 08:32] #68 closed

[2022-09-06 11:55] #73 closed

[2022-09-06 18:47] AnmolSirola commented on #59
@Vikash-8090-Yadav I would like to work on this issue . But Sir, can u tell me what all things I should add and edit.

[2022-09-06 19:20] Vikash-8090-Yadav commented on #59
@AnmolSirola  see this pr  in the web.0-world .
You can easily see the code for this
....
https://github.com/Vikash-8090-Yadav/Web3.0-World/pull/42/commits/03571c521a20bce84b4bec734c8e0c03191ea223

[2022-09-06 19:23] Vikash-8090-Yadav commented on #59
![IMG_20220907_005033](https://user-images.githubusercontent.com/85225156/188721153-b7518b53-be14-4231-9f95-a53ff522cc17.jpg)
See the code for this only and include that code at the same place in Solidity-Pathshala readme .
HOPE U UNDERSTAND ☺️ @AnmolSirola

[2022-09-07 02:28] AnmolSirola commented on #59
@Vikash-8090-Yadav Okay Sir, I would like to work on this issue

[2022-09-08 09:32] #59 closed

[2022-09-08 15:16] AnmolSirola opened #76 "Interface"
### Project title
Interface in Solidity

### Project Description
A smart contract which tells us about interface in solidity

### Domain

- [x] Solidity

#### Are you contributing under any open-source program ?
SSOC
<hr/>

[2022-09-09 03:58] Vikash-8090-Yadav commented on #76
Ig this issue is already there in the level0 .please check once and let me know ..@AnmolSirola

[2022-09-09 04:47] AnmolSirola commented on #76
@Vikash-8090-Yadav No Sir, it's not there in level 0

[2022-09-11 07:38] Vikash-8090-Yadav commented on #76
Ok start working on this  @AnmolSirola

[2022-09-11 07:39] Vikash-8090-Yadav commented on #76
please specify the folder  structure

[2022-09-11 10:55] AnmolSirola commented on #76
@Vikash-8090-Yadav StudyMaterial/Solidity_Basics

[2022-09-12 13:46] AnmolSirola commented on #76
@Vikash-8090-Yadav Can I create a pr for this issue ?

[2022-09-12 17:52] Vikash-8090-Yadav commented on #76
Yes @AnmolSirola Go ahead

[2022-09-12 18:10] AnmolSirola opened #79 "Polymorphism"
### Project title
Polymorphism in Solidity

### Project Description
A smart contract which tells us about Polymorphism in solidity

### Domain

- [x] Solidity

#### Are you contributing under any open-source program ?
SSOC
<hr/>

[2022-09-12 18:11] AnmolSirola commented on #79
@Vikash-8090-Yadav I want to add this smart contract in the StudyMaterial/Advance_Solidity Folder

[2022-09-12 22:30] TripathiShyaamal opened #80 "Solidity basic syntax with code"
### Project title
Solidity basic syntax with code

### Project Description
The file contains the code containing everything related to Solidity like: Data types, Inheritance, Interfaces, Eth transfer and various other operations. It will be better to understand from the notes that I previously uploaded and then looking at this code.

### Domain
- [x] Solidity

#### Are you contributing under any o

[2022-09-13 02:41] Vikash-8090-Yadav commented on #79
Yes @AnmolSirola Great idea

[2022-09-13 02:43] Vikash-8090-Yadav commented on #80
Ig its already there is study material ur it

[2022-09-13 15:36] TripathiShyaamal commented on #80
Yes it is there, but this is a sol file with comments so there might be some areas which might be hard to guess from notes so the sol file code will help them.

[2022-09-13 18:05] Vikash-8090-Yadav commented on #80
ok tell me  the folder structure in which u wana put this file ?

[2022-09-13 18:08] Vikash-8090-Yadav commented on #16
@legendarykamal are u still working on this ?

[2022-09-13 18:47] Vikash-8090-Yadav opened #82 "Create the contributing.md for this repo"
As  this file is already present in the directory with the name :  contributing.md
I reuest if anyone want to take thiis then please comment .

[2022-09-14 02:39] TripathiShyaamal commented on #80
Study Material -> code.sol. Works ?

[2022-09-14 03:13] Vikash-8090-Yadav commented on #80
include this in Study_Material->Soliditty_Basics->Basics->All basics in solidity.sol

[2022-09-14 04:27] AnmolSirola commented on #82
@Vikash-8090-Yadav I would like to work on this issue .

[2022-09-14 12:37] #76 closed

[2022-09-14 12:44] Vikash-8090-Yadav commented on #82
ok  @AnmolSirola  .Start working on this

[2022-09-14 19:39] #79 closed

[2022-09-15 12:34] AnmolSirola opened #86 "Require"
### Project title
Require

### Project Description
Explaining what is require and how to use it in our code , because it is very important to know .

### Domain
- [x] Solidity

#### Are you contributing under any open-source program ?
SSOC

<hr/>

[2022-09-16 15:09] SecondPort opened #88 "Need tests"
Tests and automations are needed in hardhat/truffle, when a function is added/modified the test is run and it is clarified if everything works the same as always

[2022-09-18 17:05] AnmolSirola opened #89 "HotelRoom"
### Project title
Hotel Room Contract

### Project Description
With this contract we can book an hotel room by paying come ether.

### Domain

- [x] Solidity

#### Are you contributing under any open-source program ?
SSOC
<hr/>

[2022-09-20 07:18] Vikash-8090-Yadav commented on #89
Great idea include  this in Level1/Hotel Room

[2022-09-20 07:20] Vikash-8090-Yadav commented on #88
can u  please explain what u wana to do with this , means what;e the main aim of this  file .

[2022-09-20 07:21] Vikash-8090-Yadav commented on #86
It Already  present  Go and check if that file contains some bugs then raise a issue to correct that file .

[2022-09-20 07:22] Vikash-8090-Yadav commented on #45
@legendarykamal  ?? Any updates

[2022-09-20 07:27] #82 closed

[2022-09-20 17:05] #48 closed

[2022-09-21 14:13] AnmolSirola commented on #86
@Vikash-8090-Yadav  Can you tell where it is present I cant find it in any folder

[2022-09-21 14:37] Vikash-8090-Yadav commented on #86
ok then create a p.r for this file

[2022-09-21 15:35] Vikash-8090-Yadav commented on #88
@SecondPort  ?? any updates

[2022-09-21 15:37] #80 closed

[2022-09-21 15:37] #88 closed

[2022-09-21 15:40] Vikash-8090-Yadav commented on #16
@legendarykamal   any updates ??

[2022-09-21 15:44] #47 closed

[2022-09-21 17:28] legendarykamal commented on #45
yes I will add the PR by today @Vikash-8090-Yadav :+1:

[2022-09-21 18:09] AnmolSirola opened #93 "Multi Call Contract"
### Project title
Multi Call

### Project Description
A contract that aggregates multiple queries using a for loop.

### Domain

- [x] Solidity

#### Are you contributing under any open-source program ?
SSOC
<hr/>

[2022-09-21 18:17] AnmolSirola opened #94 "Modifiers"
### Project title
Modifiers

### Project Description
Explaining what are modifiers and how to use it in our code .

### Domain

- [x] Solidity

#### Are you contributing under any open-source program ?
SSOC
<hr/>

[2022-09-22 11:09] #86 closed

[2022-09-22 11:11] Vikash-8090-Yadav commented on #93
Great start working !
@AnmolSirola

[2022-09-22 11:11] Vikash-8090-Yadav commented on #94
Start working on this @AnmolSirola

[2022-09-22 11:12] Vikash-8090-Yadav commented on #57
@legendarykamal  complete  this also .

[2022-09-23 14:41] #29 closed

[2022-09-23 14:43] #93 closed

[2022-09-23 18:21] #94 closed

[2022-09-29 03:50] Vikash-8090-Yadav commented on #24
@AyushPathak3011  ??

[2022-09-30 03:53] #36 closed

[2022-09-30 18:22] #57 closed

[2022-09-30 18:22] #56 closed

[2022-09-30 18:23] #51 closed

[2022-09-30 18:23] Vikash-8090-Yadav commented on #39
if u are taking part in hackatoberfest . open this  issue and  ping me . @Sanitya7

[2022-09-30 18:24] Vikash-8090-Yadav commented on #45
if u are taking part in hackatoberfest . open this  issue and  ping me . @legendarykamal

[2022-09-30 18:24] #45 closed

[2022-09-30 18:25] Vikash-8090-Yadav commented on #35
if u are taking part in hackatoberfest . open this  issue and  ping me . @Sanitya7

[2022-09-30 18:25] #35 closed

[2022-09-30 18:25] #21 closed

[2022-09-30 18:25] Vikash-8090-Yadav commented on #24
if u are taking part in hackatoberfest . open this  issue and  ping me . @AyushPathak3011

[2022-09-30 18:25] #24 closed

[2022-09-30 18:26] #20 closed

[2022-09-30 18:26] Vikash-8090-Yadav commented on #32
if u are taking part in hackatoberfest . open this  issue and  ping me . @Sanitya7  @ishani02

[2022-09-30 18:26] #32 closed

[2022-09-30 18:35] Sanitya7 commented on #39
Hi, Yes I am taking part in Hackatoberfest, this time I missed to
contribute at my best full potential due to health issues, but now I'm
back, back with a bang !

On Fri, Sep 30, 2022 at 11:54 PM Vikash Yadav ***@***.***>
wrote:

[2022-09-30 18:55] test-account09 opened #99 "A basic student attendance system made with Solidity."
Please assign this to me  ,Sir!

In this  i am making  a basic student attendance system made with Solidity.

more function will be adedd and the  owner will be taken   care  .

Folder structure  : Level1/Attendence.sol

[2022-09-30 18:57] Sanitya7 commented on #39
@Vikash-8090-Yadav Let us open it back and build Solidity Pathshala.

[2022-09-30 19:01] Vikash-8090-Yadav commented on #62
yes @AnmolSirola start working on this !

[2022-09-30 19:02] Vikash-8090-Yadav commented on #99
Great idea ,start implementing this @test-account09

[2022-09-30 19:03] Vikash-8090-Yadav commented on #39
ya sure @Sanitya7

[2022-09-30 19:03] Vikash-8090-Yadav commented on #32
@AnmolSirola

[2022-09-30 19:37] nirban256 opened #100 "Faucet Smart Contract"
I want to create a faucet smart contract for a custom ERC20 token giving a fixed amount of tokens to the address requested it after a specific interval of time.
I would have to create two contracts one for the token and the other for the faucet smart contract.

Can I work on this? @Vikash-8090-Yadav

[2022-09-30 19:43] Vikash-8090-Yadav commented on #100
Great @nirban256 start working on this

[2022-09-30 19:51] nirban256 commented on #100
Ok

[2022-09-30 20:05] Vikash-8090-Yadav commented on #39
Yup @Sanitya7  . now start working on this , sorry for the late reply :cry:

[2022-09-30 20:31] test-account09 opened #102 "Getting real time data feeds in smart contract with Chainlink"
Hii sir , please assign this issue to me ,
In this i want create a smart contract   which can get     the real time data feeds  with the help of the  chainLink  API .

The folder structure is ; Level1/Chainlink/RealTimedata.sol

[2022-09-30 20:49] Vikash-8090-Yadav commented on #102
Great @test-account09 , Start  working on this

[2022-10-01 02:01] kunal232i opened #103 "Calculator"
### Project title
Calculator

### Project Description
Calculator smart contract using Remix (Math operations)

### Domain

- [x] Solidity
- [] Python
- [] JavaScript
- [] Golang
- [] Other, feel free to mention below

#### Are you contributing under any open-source program ?
yes, Hacktobefest
<hr/>

[2022-10-01 02:02] kunal232i commented on #103
Can you assign this project to me..?

[2022-10-01 02:07] kunal232i opened #104 "Create a todo list smart contract"
### Project title
Todo List

### Project Description
ToDo List smart contract in solidity
It can create tasks and store it into the array.

### Domain

- [x] Solidity
- [] Python
- [] JavaScript
- [] Golang
- [] Other, feel free to mention below

#### Are you contributing under any open-source program ?
yes, Hacktoberfest
<hr/>

[2022-10-01 02:07] kunal232i commented on #104
Can you assign this is to me..?

[2022-10-01 03:54] nirban256 commented on #100
in which folder do I need to keep the folder? @Vikash-8090-Yadav

[2022-10-01 03:56] Vikash-8090-Yadav commented on #100
level2 @nirban256

[2022-10-01 03:58] Vikash-8090-Yadav commented on #103
ya sure @kunal232i

[2022-10-01 03:58] Vikash-8090-Yadav commented on #104
start working on this @kunal232i

[2022-10-01 05:56] kunal232i opened #107 "Create Event Organization smart contract"
### Project title
Event Organization smart contract🎊

### Project Description
Create a smart contract on Event Organization

Functionalities
Events - date, tickets, ticket price.
Organizer - creates an event.
Attendee - attendee buys tickets for the event.

### Domain

- [x] Solidity
- [] Python
- [] JavaScript
- [] Golang
- [] Other, feel free to mention below

#### Are you contributing under any

[2022-10-01 05:57] kunal232i commented on #107
Can you assign this to me..?

[2022-10-01 06:59] ishani02 commented on #32
yes I am taking part in Hacktoberfest 2022

[2022-10-01 07:17] AbhishekTiwari23 commented on #104
I also want to work on it, but I have a doubt. Do I have to make a to-do list in any of the above languages, even in python? If yes then please assign it to me

[2022-10-01 07:25] saikishore222 opened #108 "Create a Counter Smart Contract Program"
Smart Contract Program
(Write project title over here)

The owner of the smart contract able to Increase the Counter value and decrease the Counter value in the contract
(Describe the project over here)

### Domain

- [x] Solidity
- [] Python
- [] JavaScript
- [] Golang
- [] Other, feel free to mention below

#### Are you contributing under any open-source program ?
Yes ,Hacktoberfest 2022

<hr/>

[2022-10-01 07:26] saikishore222 commented on #108
Please assign this task  to me under the hactoberfes

[2022-10-01 07:34] Vikash-8090-Yadav commented on #32
raise the new @ishani02  for hacktoberfest 2022 .

[2022-10-01 07:36] Vikash-8090-Yadav commented on #108
Great idea @saikishore222 . Start working on this issue

[2022-10-01 07:37] ishani02 commented on #32
ok

[2022-10-01 07:39] Vikash-8090-Yadav commented on #104
as of now u can't work on this issue because this assigns to @kunal232i . If u have new idea Raise the issue for the same . @AbhishekTiwari23 Hope u understand.

[2022-10-01 07:40] Vikash-8090-Yadav commented on #107
sure @kunal232i Start working on this issue .

[2022-10-01 09:17] #99 closed

[2022-10-01 12:03] Sahiljawale commented on #103
Can I implement calculator in Python ?
If yes, can you assign me for this

[2022-10-01 12:30] #102 closed

[2022-10-01 12:37] Vikash-8090-Yadav commented on #103
@Sahiljawale    are u making that  with help of  smart contract

[2022-10-01 15:52] #108 closed

[2022-10-01 16:01] #103 closed

[2022-10-01 16:07] saikishore222 opened #111 "create a smart contract that Implements Fall back Function"
### Project title
create a smart contract that Implements Fall back Function

### Project Description
Fall back function is like unamed function it will execute when none of the other functions are not matched.

### Domain

- [x] Solidity

#### Are you contributing under any open-source program ?

Yes, I am a Hactoberfest Contributor

<hr/>

[2022-10-01 16:07] saikishore222 commented on #111
@Vikash-8090-Yadav  can you please assign this task to me.

[2022-10-01 16:44] Vikash-8090-Yadav commented on #111
@saikishore222  i guess this project is already  completed  . Look at once in my repo and let me know

[2022-10-01 16:53] saikishore222 commented on #111
Yes. I changed the project and can you please look into it and assign me

[2022-10-01 16:58] Vikash-8090-Yadav commented on #111
Nope this can create spam . u can create a issue for  Auction  price smart contract
@saikishore222  . Hope this helps

[2022-10-01 17:03] saikishore222 opened #112 "Auction Price Smart Contract"
### Project title
Auction Price Smart Contract

### Project Description
Auction Contract is allows to people to place bids,withdraw their funds of winning bid. owner of the auction can cancel the auction anytime.

### Domain

- [x] Solidity

#### Are you contributing under any open-source program ?
yes Iam hactoberfest Contributor

<hr/>

[2022-10-01 17:03] saikishore222 commented on #112
@Vikash-8090-Yadav can you assign this to me

[2022-10-01 17:04] #111 closed

[2022-10-02 05:26] #100 closed

[2022-10-02 06:28] Antibodyy commented on #39
@Vikash-8090-Yadav What needs to be done for this issue? I am up for the task.

[2022-10-02 06:51] Sanitya7 commented on #39
Hi @Antibodyy 👋
You may add more if-else codes in the file,
We will be raising a PR, by 3rd October.
Also, you may update the readme files for the same.

[2022-10-02 09:00] Swetaswa opened #117 "Lottery Smart Contract"

[2022-10-02 09:06] nirban256 opened #118 "Create a Multi-Signature Wallet"
### Project title
Multi-Signature Wallet

### Project Description
It is a multi-signature wallet contract where more than one user is required to sign the wallet transactions.

### Domain

- [] Solidity

<hr/>

[2022-10-02 09:07] nirban256 commented on #118
@Vikash-8090-Yadav can I work on this?

[2022-10-02 09:08] Vikash-8090-Yadav commented on #118
please do mention if u r contributing to hacktoberfest or not .

[2022-10-02 09:08] Vikash-8090-Yadav commented on #118
@nirban256 Yes u can ..

[2022-10-02 09:10] nirban256 commented on #118
@Vikash-8090-Yadav yes I am contributing to hacktoberfest

[2022-10-02 09:33] Vikash-8090-Yadav commented on #118
ok @nirban256  start working on this

[2022-10-02 09:33] adielliot37 opened #119 "English Auction"
### Project title
English Auction

### Project Description
English auction for NFT.

Auction
Seller of NFT deploys this contract.
Auction lasts for 7 days.
Participants can bid by depositing ETH greater than the current highest bidder.
All bidders can withdraw their bid if it is not the current highest bid.

### Domain

- [x] Solidity

#### Are you contributing under any open-source program ?

yes

[2022-10-02 09:35] Vikash-8090-Yadav commented on #119
@adielliot37  , Great start working on this

[2022-10-02 09:36] Vikash-8090-Yadav commented on #117
Please write the proper  description about the project and issue

[2022-10-02 09:41] adielliot37 commented on #119
should i add code in level 0

[2022-10-02 09:43] Vikash-8090-Yadav commented on #119
NO add this in level 2

[2022-10-02 09:44] adielliot37 commented on #119
ok sure

[2022-10-02 09:44] nirban256 commented on #118
@Vikash-8090-Yadav in which folder do I have to keep the contract files?

[2022-10-02 09:45] Vikash-8090-Yadav commented on #118
in level1

[2022-10-02 10:05] SadashayKanungo commented on #16
Hi @Vikash-8090-Yadav I would like to work on this issue. Can you assign it to me?

[2022-10-02 10:13] Vikash-8090-Yadav commented on #16
Sure @SadashayKanungo . Start  working on this

[2022-10-02 15:41] AnmolSirola commented on #62
@Vikash-8090-Yadav Kindly look at the pr. Thank you

[2022-10-02 17:29] #16 closed

[2022-10-02 19:18] #117 closed

[2022-10-02 19:21] nirban256 commented on #118
@Vikash-8090-Yadav if I add the contract without a live view or screenshots but explain all the functions in the readme will it be ok?

[2022-10-02 19:29] Sanitya7 commented on #39
@Vikash-8090-Yadav You may check this,
This is done almost, only readme are left, we can raise a PR for this.

[2022-10-02 22:15] Vikash-8090-Yadav commented on #118
@nirban256 of this in level2 folder then video mandatory . if doesn't then ss is mandatory to explain the wotking of the project ..

[2022-10-03 06:29] nirban256 opened #125 "Create a Flash Loan contract"
### Project title
Flash Loan

### Project Description
Flash Loan contract using aave defi protocol

### Domain

- [x] Solidity

#### Are you contributing under any open-source program ?
Hacktoberfest
<hr/>

[2022-10-03 06:30] nirban256 commented on #125
@Vikash-8090-Yadav I want to work on this UNDER HACKTOBERFEST program.

[2022-10-03 11:23] Vikash-8090-Yadav commented on #125
Looking great . Start  working  on this .

[2022-10-03 17:53] nirban256 commented on #125
@Vikash-8090-Yadav in which folder do I need to keep the contract folder?

[2022-10-03 17:55] Vikash-8090-Yadav commented on #125
@nirban256  .Keep  this in level1 folder

[2022-10-04 12:12] #62 closed

[2022-10-05 04:11] vryan-06 opened #126 "Adding more codes to Level 0 folder"
### Project title
Further improving Level 0 folder

### Project Description
I wish to add 2 or 3 more codes in the level 0 folder. This will help others to understand basics of solidity and smart contracs.
One of them will be to count number of distinct elements in array and so on.

### Domain

- [x] Solidity

#### Are you contributing under any open-source program ?
- [x] Hacktoberfest 2022

<hr/

[2022-10-05 04:12] vryan-06 commented on #126
I want to work on this as a part of Hacktoberfest 2022. Kindly allow me @Vikash-8090-Yadav, thank you!

[2022-10-05 04:59] Vikash-8090-Yadav commented on #126
@vryan-06 sorry to say this but currently i am not accepting any arthmethic code and basics of solidity is already done .
I request to see the level1 or level2 folder and raise issue for this .
Hope u understand .
Thank u 🙂.

[2022-10-05 05:10] vryan-06 commented on #126
No worries!!

[2022-10-05 05:11] vryan-06 commented on #126
Should I edit this issue or create a new one for level1 folder changes? @Vikash-8090-Yadav

[2022-10-05 05:13] Vikash-8090-Yadav commented on #126
@vryan-06  Kimdly create a new issue for this

[2022-10-05 05:18] vryan-06 opened #127 "Books DB"
### Project title
Setting and Getting Books

### Project Description
I wish to create a smart contract using which we will be able to store books with their title, author's name and id and then later on we can get the books using its id.

### Domain

- [x] Solidity

#### Are you contributing under any open-source program ?
- [x] Hacktoberfest 2022
<hr/>

[2022-10-05 05:22] Vikash-8090-Yadav commented on #127
please add the relevant name of the issue . write full form for Db also .
Thank u @vryan-06

[2022-10-05 05:27] vryan-06 commented on #127
Done

[2022-10-05 06:04] Vikash-8090-Yadav commented on #127
Great start  working on this issue .
@vryan-06

[2022-10-06 08:16] #125 closed

[2022-10-06 13:58] saikishore222 opened #133 "Timer Smart contract"
Timer  Smart Contract
(Write project title over here)

Timer smart Contract makes the contract work in a certain time period, after a certain period it completed it raises an error time over.
(Describe the project over here)

### Domain

- [x] Solidity

#### Are you contributing under any open-source program ?
yes, I am hactoberfest 2022 Contributor.

<hr/>

[2022-10-06 13:58] saikishore222 commented on #133
@Vikash-8090-Yadav can you assign this task to me.

[2022-10-06 17:41] Vikash-8090-Yadav commented on #133
Great idea start working on this issue .
@saikishore222  include this in level 1 folder .

[2022-10-06 18:26] AnmolSirola opened #134 "Library Contract"
### Project title
Library Contract

### Project Description
A library smart contract which allows us to add  a book( we can add the name of the book, its year and its author name) to our smart contract and we can set its status too as finished or unfinished.

### Domain

- [x] Solidity

#### Are you contributing under any open-source program ?

Hackoberfest

<hr/>

[2022-10-06 18:27] AnmolSirola commented on #134
@Vikash-8090-Yadav I would like to add this in level 1 folder.

[2022-10-06 18:28] Vikash-8090-Yadav commented on #134
Great idea .Start working on this issue .

[2022-10-06 20:50] Atoo35 commented on #134
Is someone already working on this?

[2022-10-07 00:21] SadashayKanungo opened #135 "Anonymous Polling Contract"
### Project title
Anonymous Polling Contract

### Project Description
A Smart contract that lets users create different Polls in the form of Multiple Choice Questions and other users can then cast their votes on these polls. The vote cast by a particular address is not stored on the contract, so it makes their choice anonymous.

### Domain

- [x] Solidity

#### Are you contributing under any open-

[2022-10-07 00:22] SadashayKanungo commented on #135
Hey @Vikash-8090-Yadav . I would like to add this contract to Level 2. Please assign me.

[2022-10-07 01:48] #126 closed

[2022-10-07 02:43] shobhit9070 opened #136 "ERC20 token contract"
### Project title
ERC20 token

### Project Description
Create your own ERC20 token which can be imported to metmask and can be transfered using metamask and remix ide.

### Domain

- [x] Solidity

#### Are you contributing under any open-source program ?
Hacktoberfest 2022
<hr/>

[2022-10-07 03:30] Vikash-8090-Yadav commented on #134
@AnmolSirola

[2022-10-07 03:31] Vikash-8090-Yadav commented on #135
GREAT IDEA . start working on this .@SadashayKanungo

[2022-10-07 03:35] Vikash-8090-Yadav commented on #136
Ok , Ur idea seems to be cool and new .
Start working on this .

[2022-10-07 11:16] Abhishek-Kumar-Sharma69 commented on #39
hello @Sanitya7 , I read your above messages I can add a few more if-else block programs if required, Should I?

[2022-10-07 12:11] Vikash-8090-Yadav commented on #39
@Abhishek-Kumar-Sharma69 no u can't as i am not accepting the basics codes right now.u can look into level1 folder.

[2022-10-08 06:00] #135 closed

[2022-10-08 07:26] Envoy-VC opened #140 "ERC20 Upgradable Smart Contract"
### Project title
ERC-20 Upgradable Smart Contract

### Project Description
Build a ERC20 Upgradable contract that can be (kind of) altered, after the deployment.

### Domain

- [x] Solidity
- [x] JavaScript
- [x] Hardhat

#### Are you contributing under any open-source program ?

Hacktoberfest 2022

<hr/>

[2022-10-08 07:29] Vikash-8090-Yadav commented on #140
@Envoy-VC , is this issue similar to the #136 or u want to some modification in this .

[2022-10-08 07:36] Envoy-VC commented on #140
No, It is a Upgradable ERC-20 Token which uses OpenZeppelin Upgradable smart contracts in which users can deploy a new version of the existing contract which uses features like delegate call to make easy for smart contracts fix bugs after they have been deployed.

[2022-10-08 07:40] Vikash-8090-Yadav commented on #140
Great .Start working on this .

[2022-10-08 08:35] #136 closed

[2022-10-08 13:36] #134 closed

[2022-10-08 13:44] shobhit9070 opened #142 "Add solidity books in the blog folder"
### Description of  the change
Add solidity books in the blog folder so user can have a deeper dive in the subject

### Domain

- [x] Readme
- [x] Solidity

#### Are you contributing under any open-source program ?
hacktoberfest
<hr/>

[2022-10-08 13:55] Vikash-8090-Yadav commented on #142
Sorry am currently no accepting the Blog's.

[2022-10-08 17:30] syashu16 opened #144 "add emergency stop"
hi i want to add emergency stop. kindly assign this issue to me.

[2022-10-08 17:31] Vikash-8090-Yadav commented on #144
Great idea Idea . Go  and create this
:smile:

[2022-10-08 17:56] #144 closed

[2022-10-08 18:16] #133 closed

[2022-10-09 05:44] #140 closed

[2022-10-09 09:49] Vikash-8090-Yadav commented on #142
hey if u want to write blogs then u can now proceed .As am accepting the blogs now .
@shobhit9070

[2022-10-09 09:50] Vikash-8090-Yadav commented on #142
But the topics are not related to projects ...so this issue is not valid for blogs .If u have any new idea then u can raise the new issue .
Thank u .

[2022-10-09 09:50] #142 closed

[2022-10-09 19:23] Aman5989 opened #148 "TIME-LOCK MASTER"
### Project title
TIME-LOCK MASTER

### Project Description

The first project idea in this category is – Time lock Smart Contract. A time lock smart contract would be a wallet that would keep your crypto assets locked for a certain amount of time. That means you won’t be able to withdraw your crypto assets even if you want to do so. We can use such wallets for multiple reasons. But one of the big

[2022-10-10 04:03] Vikash-8090-Yadav commented on #148
great Start working on this @Aman5989

[2022-10-10 13:39] AnmolSirola opened #149 "Blog Smart Contract"
### Project title
Blog

### Project Description
A blog smart contract which allows users to create a blog and make posts to that blog . We can also create new posts and update them.

### Domain

- [x] Solidity

#### Are you contributing under any open-source program ?
Hackoberfest
<hr/>

[2022-10-10 13:45] AnmolSirola commented on #149
@Vikash-8090-Yadav I would like to add this in level 1

[2022-10-10 16:49] Vikash-8090-Yadav commented on #149
@AnmolSirola  Great idea , start  working  on this .

[2022-10-10 18:35] #149 closed

[2022-10-11 14:28] Envoy-VC opened #151 "Strings and bytes32"
### Project title
Strings and Bytes32 in Solidity

### Project Description
Basic Tutorial on strings and bytes32 data in solidity, and comparing strings with cryptographic hash functions.

### Domain

- [x] Solidity

#### Are you contributing under any open-source program ?

HacktoberFest 2022

<hr/>

[2022-10-11 16:43] Vikash-8090-Yadav commented on #151
Great starting working on this issue .and raise pr

[2022-10-12 03:17] anishaga opened #153 "Stack"
### Project title
Stack Implementation

### Project Description
Stack Implementation using Remix

### Domain
Solidity

### Are you contributing under any open-source program?
Hacktobefest

[2022-10-12 03:17] anishaga commented on #153
@Vikash-8090-Yadav can I work on this issue

[2022-10-12 03:39] Vikash-8090-Yadav commented on #153
ya start working on this .

[2022-10-12 03:55] #153 closed

[2022-10-12 18:20] Aman5989 commented on #148
actually i forgot to mention that i was also contributing under hacktoberfest 2022,Please add the required tags.

[2022-10-12 18:26] Vikash-8090-Yadav commented on #148
ok

[2022-10-14 10:04] #151 closed

[2022-10-14 12:02] samipashaa opened #158 "Add a License"
I noticed this repository doesn't have a license.
If you don't mind I would like to add one to clarify what others can and can't do with this repository.

I was thinking the MIT license would work.

[2022-10-14 14:12] Vikash-8090-Yadav commented on #158
SURE ..@samipashaa

[2022-10-14 16:24] samipashaa commented on #158
Sorry wrong repository, can I add Code of Conduct.

[2022-10-15 08:08] AnmolSirola opened #159 "Dutch Auction"
### Project title
Dutch Auction

### Project Description
Seller of NFT deploys this contract, participants can bid by depositing ETH greater than the current highest bidder. All bidders can withdraw their bid if it is not the current highest bid.
### Domain

- [x] Solidity

#### Are you contributing under any open-source program ?
Hackoberfest
<hr/>

[2022-10-15 09:02] Vikash-8090-Yadav commented on #159
what does this means seller of nft ?

[2022-10-15 09:11] AnmolSirola commented on #159
Basically the person who is selling the product in this case the product is NFT

[2022-10-15 09:36] Vikash-8090-Yadav commented on #159
Great idea start working  on this .

[2022-10-15 09:38] #127 closed

[2022-10-15 16:40] #159 closed

[2022-10-19 17:36] Omega12Pirme opened #161 "Freelancer smart contract"
it has three functions:

Employer deposit eth in smart contract, deposit().
Freelancer upload data, like a link with his work, upload().
Withdraw ether. withdraw().

Please assign this to me . i want to work on this .
Thanks

[2022-10-19 17:48] Omega12Pirme opened #162 "Basic banking"
hey , i want to create  the function that  create  the basics of the banking system like , Transfer , withdraw  ,and many more .
please assign this to me so that i can start contributing  on this .
Thanks in advance .

[2022-10-19 18:47] Vikash-8090-Yadav commented on #161
Great idea ,start working on this @Omega12Pirme

[2022-10-20 05:53] Satyam5665 opened #164 "Ecommerce SmartContract"
Hello, I want to add a Smart-Contract for an Ecommerce Site. That will have buy, delivery, register-Products function that will ensure that only after the delivery of the Product is successful, money is deducted from the buyer account and sent to seller account.

[2022-10-20 05:57] Vikash-8090-Yadav commented on #164
Yup , now u can start working on this . @Satyam5665

[2022-10-20 17:56] Source-404 opened #165 "Decentralized Bingo"
### Project title
Decentralized Bingo Game

### Project Description
This is a Decentralized Bingo Game

it contains two files
1- Voting and
2- Bingo

While The Bingo file is responsible for the Details of the 5x5 card and striking out
Voting maintains the round and voting of which number to strike out

- [x] Solidity
- [] Python
- [] JavaScript
- [] Golang
- [] Other, feel free to mention below

<

[2022-10-22 05:06] Source-404 commented on #165
@Vikash-8090-Yadav can you please Review my PR #166

[2022-10-22 12:36] #162 closed

[2022-10-30 19:09] #165 closed